.Main{
    background-color: rgb(184, 217, 247);
}
.custom-container-width {
    justify-content: center;
    text-align: justify;
    display: flex;
    align-items: center;
}

.custom-card{
    
    text-align: justify;
    padding: 0;
}