.Main{
    background-color: rgb(250, 240, 229);
    color: rgb(138, 5, 94);
}
.custom-container-width {
    justify-content: center;
    text-align: justify;
    display: flex;
    align-items: center;
}

.custom-card{
    
    text-align: justify;
    padding: 0;
}

.suggestionMargin{
    margin: 10px;
}