.login-container {
    margin: auto;
    padding: 10px 20px; 
    font-weight: bold;
}

hr.header {
    border: 1px solid darkslategrey;
}

.formattedLink:link{
    display: inline;
    color:#000000;
    text-align: center;
}

.formattedLink:hover{
    display: inline;
    color:#000000;
    text-align: center;
}