.signup-container {
    width: 50%;
    border: 3px solid darkblue;
    margin: 10px auto;
    padding: 20px; 
    font-weight: bold;
    background-color: lightgrey;
}

hr {
    border: 2px solid darkslategrey;
}

.preview {
    border: 3px dashed grey;
    padding: 10px;
    border-radius: 10px;
    height: 8vw;
    background-color: whitesmoke;
    text-align: center;
}

#profile-preview {
    height: 100%;
}

#customer, #restaurant, #profile {
    vertical-align: middle;
}

i {
    margin: auto 3px;
    vertical-align: middle;
}

label {
    margin: auto 3px;
    vertical-align: middle;
}