.header {
    height: 50px;
    background-image: linear-gradient(to right, #567ace , #b9281d);
}

.stickyBar{
    position: sticky;
    top: 0;
    z-index: 10;
}

a.header-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #ffffff;
    padding: 7px 5px;
    text-decoration:none;
    
}

.points {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #ffffff;
    padding: 10px 0 0 0;
    text-decoration:none;
    
}

.headerpadding{
    padding: 10px 2px;
}
a.header-title:link{
    display: inline;
    color:#ffffff;
    text-decoration:none;
    text-align: center;
}
a.header-title:hover{
    display: inline;
    color:#ffffff;
    text-decoration:none;
    text-align: center;
}

.notiTime{
    color: #6b6a6a;
    font-size: 3px;
}

.noti-Title{
    text-align: center;
    color: rgb(78, 177, 235);
    font-weight: bold;
    border-bottom: 1px solid #aaa;
    border-top: 1px solid #aaa;
}